.social-mobile {
  display: none;
  @media screen and (max-width: $breakpointBeeforeTablet) {
    display: flex;

    &__item {
      @include marginRightNotLastCh(10px);
    }
    &__item:not(:last-child)::after {
      content: '';
      margin-left: 9px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $primaryAccentColor;
    }
  }
}

// .social-mobile__link {
// }
